.user
 .user__name
  = current_user.name
 .user__font
  = link_to new_group_path,class: "user__font--link" do
   %i.fas.fa-edit
  = link_to edit_user_path(current_user), class: "user__font--link" do
   %i.fas.fa-cog

.groups
 .groups__list
  - current_user.groups.each do |group|
   = link_to group_message_index_path(group), class: "groups__link" do
    .groups__name
     = group.name
    .groups__text
     メッセージはまだありません
